<section class="px-4 sm:px-6 lg:px-0">
  <form class="px-3 mt-5 mx-auto" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">


    @let currentPassword = resetPasswordForm.get("currentPassword");
    @let password = resetPasswordForm.get("password");
    @let rePassword = resetPasswordForm.get("rePassword");

 

 

    <div class="mb-5">
      <label class="block mb-2 text-sm font-semibold text-gray-900">Current Password</label>
      <input formControlName="currentPassword" type="password"
        [ngClass]="{'border-red-600': password?.invalid && password?.touched}"
        class="border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="********" />
      <app-input-alert [control]="currentPassword" name="currentPassword"></app-input-alert>
    </div>

    <div class="mb-5">
      <label class="block mb-2 text-sm font-semibold text-gray-900">New Password</label>
      <input formControlName="password" type="password"
        [ngClass]="{'border-red-600': password?.invalid && password?.touched}"
        class="border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="********" />
      <app-input-alert [control]="password" name="password"></app-input-alert>
    </div>


    <div class="mb-7">
      <label class="block mb-2 text-sm font-semibold text-gray-900">Confirm New Password</label>
      <input formControlName="rePassword" type="password"
        [ngClass]="{'border-red-600': rePassword?.invalid && rePassword?.touched}"
        class="border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="********" />
      @if (password?.value!==rePassword?.value&&rePassword?.touched) {
      <p class="error text-red-600">
        Must match
      </p>
      }
    </div>

    @if (
    currentPassword?.invalid && currentPassword?.touched ||
    password?.invalid && password?.touched ||
    rePassword?.invalid && rePassword?.touched
    ) {
    <div class="mb-5">
      <somethingwrong></somethingwrong>
    </div>
    }

    <app-auth-button [isDisabled]="resetPasswordForm.invalid">Update Password</app-auth-button>
  </form>
</section>
